<!-- <mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Four Fit</mat-card-title>
    <mat-card-subtitle>Academia!</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/ideogram (1).jpeg"
    alt="Image Home Help Desk"
  />
  <mat-card-content>
    <p>
      Bom Dia, Four Fit!<br />
      Começar o dia na Four Fit é mais do que apenas uma rotina; é o começo de
      uma jornada revigorante em direção ao seu bem-estar. Estamos aqui para
      tornar suas manhãs mais inspiradoras e energizantes.<br />Nossa academia é
      o lugar onde você encontrará a motivação que precisa para encarar cada
      novo amanhecer com confiança e determinação. Com instrutores apaixonados,
      uma comunidade de apoiadores e uma variedade de aulas estimulantes, cada
      dia aqui é uma oportunidade para se superar.<br />
    </p>
  </mat-card-content>
</mat-card> -->
<div class="home-style">
  <div
    style="
      background-image: url('https://images.pexels.com/photos/1431283/pexels-photo-1431283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    "
    class="background-image-card"
  >
    <a routerLink="/aluno"><span class="titulo-link">Aluno</span></a>
  </div>
  <div
    class="background-image-card"
    style="
      background-image: url('https://media.istockphoto.com/photos/woman-bodybuilder-lifting-dumbbell-isolated-over-black-background-picture-id681264474?k=6&m=681264474&s=170667a&w=0&h=T5eq_TUeCEyL6xDo-gf7IIzstpON29XeLDcGO0Y6UCQ=');
    "
  >
    <a routerLink="/instrutor"><span class="titulo-link">Instrutor</span></a>
  </div>
  <div
    class="background-image-card"
    style="
      background-image: url('https://img.freepik.com/fotos-premium/homem-musculoso-malhando-fazendo-exercicios-com-halteres-no-biceps_157927-18934.jpg');
    "
  >
    <a><span class="titulo-link">Matrículas</span></a>
  </div>
</div>
